@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

#sidebar {
    width: 260px;
    min-width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 260px;
    width: calc(100% - 260px);
    overflow: auto;
}

.sidebar-logo {
    margin: auto 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

.dashboard-card{
    background-color: #f5f5f5;
    transition: .4s;
    cursor: pointer;
    color: #000;
    margin-bottom: 1rem;
}

.dashboard-card:hover{
    background-color: #293b5f;
    color: #fff;
    transform: translateY(-10.5px);
    
}

.text-success{
    background-color: #71c664;
    padding: 0.25rem 0.35rem;
    font-size: 0.715rem;
    color: #fff !important;
    border-radius: 5px;
}

.content{
    flex: 1 1 auto;
}

footer{
    background-color: #f5f5f5;
    padding: 1rem .875rem;
}

/*CSS Responsive*/
@media (min-width: 768px) {
    .navbar form{
        max-width: 320px;
    }
    .input-group-navbar .form-control:focus{
        outline: none;
        box-shadow: 0 0 0 0 rgba(255, 255, 255);
        border: none;;
    }
    .input-group-navbar .form-control{
        color: #3e4455;
    }
    .form-control::placeholder{
        background-color: #fff;
    }
    .input-group-navbar .btn{
        background-color: #727cf5;
        color: #fff;
        cursor: pointer;
        z-index: 10000;
    }
    .navbar-expand .navbar-nav .dropdown-menu{
        box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 05);
    }
}

.button-list a{
    background-color: #727cf5;
    color: #ffffff;
    cursor: pointer;
    z-index: 10000;
}

.button-list a:hover {
    background-color: #293b5f; 
    cursor: pointer; 
    color: #ffffff;
}

.button-list a{
    background-color: #727cf5;
    color: #ffffff;
    cursor: pointer;
    z-index: 10000;
}

.button-list a:hover {
    background-color: #293b5f; 
    cursor: pointer; 
    color: #ffffff;
}

.dashboardgreetings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboardgreetings greetings {
    font-size: 18px;
    color: #6c6a6a;
}

.dashboardgreetings date-today {
    font-size: 18px;
    color: #6c6a6a;
}

.table thead tr{
    color: #fff;
    text-align: left;
}

tr.highlight th{
    background-color: #293b5f;
    color: #fff;
}
thead {
    position: sticky;
    top: 0;
}
label{
    font-weight: bold;
}

.nav-link{
    color: unset;
}

.c-pointer{
    cursor: pointer;
}

.break-word {
    word-wrap: break-word;
}

.select2-container {
    z-index: 9999 !important;
}
.select2-dropdown {
    z-index: 1051 !important;
}

.container-form{
    max-width: 750px;
}

textarea {
    resize: none;
}

.select2-container--default .select2-selection--single {
    min-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #212529;
}

.select2-selection__rendered {
    margin-top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
    right: 4px;
}
.dataTables_filter{
    margin-bottom: 10px;
}
.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem;
}

/*ChurchResourcesCSS*/
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
.file-man-box {
    padding: 20px;
    border: 1px solid #e3eaef;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px
}
.file-man-box .file-close {
    color: #f1556c;
    position: absolute;
    line-height: 24px;
    font-size: 24px;
    right: 10px;
    top: 10px;
    visibility: hidden
}

.file-man-box .file-img-box {
    line-height: 120px;
    text-align: center
}

.file-man-box .file-img-box img {
    height: 64px
}

.file-man-box .file-download {
    font-size: 32px;
    color: #98a6ad;
    position: absolute;
    right: 10px
}

.file-man-box .file-download:hover {
    color: #313a46
}

.file-man-box .file-man-title {
    padding-right: 25px
}

.file-man-box:hover {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.file-man-box:hover .file-close {
    visibility: visible
}
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}
h5 {
    font-size: 15px;
}
